@charset "UTF-8";
/*reset*/
/*this is my reset style sheet, standards by Tantek Çelik, part of the Yahoo User Interface Library (YUI). I'm going to normalize formatting to remove browser styles.*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Orbitron:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.reset-browser-style {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 20px;
}

/*module sass > css*/
/* h1, h2, h3 */
.welcome-header {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
  color: #06141B;
}

.ctrt-heading {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 10px 0;
  color: #11212D;
}

.third-indent-heading {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 5px 0 15px 20px;
  color: #253745;
}

/* added to manage the news posts and general body text left-aligned, otherwise same*/
.post-ctrt-heading {
  font-family: "Orbitron", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #11212D;
  text-align: left;
  margin-bottom: 0.75rem;
}

.post-third-indent-heading {
  font-family: "Orbitron", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #253745;
  text-align: left;
  margin-bottom: 0.75rem;
}

/* body style */
body {
  background: #CCD0CF;
  background: -webkit-linear-gradient(top, #CCD0CF, #f1f1f1);
  background: -o-linear-gradient(top, #CCD0CF, #f1f1f1);
  background: -moz-linear-gradient(top, #CCD0CF, #f1f1f1);
  background: linear-gradient(to bottom, #CCD0CF, #f1f1f1);
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
}

/* para */
p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 10px 0;
  color: #253745;
}

/* consulted adobe docs for kern/typesetting best practices. */
.justified-para {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
}

.font-highlight {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 10px 0;
  background: linear-gradient(45deg, #1E3A5F, #3A8FCB, #5AA9E6, #1E536E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 10px 0;
  color: #253745;
  font-weight: bold;
}

/* navbar style */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)); /* Example gradient */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #ffffff;
  z-index: 1000;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .nav-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.navbar input[type=text] {
  padding: 0.5rem;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #222;
  width: 120px;
  box-sizing: border-box;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  height: auto;
  min-height: 2rem;
}

.navbar button[type=button] {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border: none;
  border-radius: 8px;
  background-color: #1E536E;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar input[type=text]:hover,
.navbar input[type=text]:focus {
  border-color: #1E536E;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  width: 240px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  position: relative;
  margin-left: 1rem;
  font-weight: bold;
}

.navbar ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f5f5f5;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 160px;
}

.navbar ul li:hover > ul {
  display: block;
}

.navbar a {
  color: #CCD0CF;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffffff;
}

/* form style, incl nav bar form */
.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.subscribe-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 300px;
}
.subscribe-form form .form-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.subscribe-form form .form-input label {
  font-size: 0.875rem;
  color: #222;
}
.subscribe-form form .form-input input[type=email] {
  padding: 0.5rem;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #222;
  /* set this to change the initial width. I made it small for now bc debugging nightmares */
  width: 120px;
  box-sizing: border-box;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  height: 2rem;
  min-height: 2rem;
}
.subscribe-form form .form-input input[type=email]:hover, .subscribe-form form .form-input input[type=email]:focus {
  border-color: #1E536E;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  width: 240px;
}
.subscribe-form form .form-input button[type=submit] {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border: none;
  border-radius: 8px;
  background-color: #1E536E;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 2rem;
  min-height: 2rem;
  align-self: baseline;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.subscribe-form form .form-input button[type=submit]:hover {
  background-color: #0056b3;
}
.subscribe-form form .form-input button[type=submit] .button-highlight {
  font-weight: bold;
}

/* footer style */
.footer-links {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  list-style: none;
  margin-top: auto;
  font-size: 0.65rem;
}
.footer-links .footer-item {
  margin: 0 0.25rem;
}
.footer-links .footer-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.footer-links .footer-link img {
  margin-right: 0.25rem;
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.footer-links .footer-link:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 83, 110, 0.5);
  transition: background-color 0.3s ease;
}
.footer-links .footer-link:hover img {
  filter: grayscale(100%);
}
.footer-links .footer-link:hover {
  color: #0056b3;
}

/* I am not using this anymore but if I re-introduce text, it's nice to have specificity here*/
.footer p {
  font-size: 0.6rem;
  margin-top: 0.25rem;
  color: #9BA8AB;
  text-align: center;
}

.footer-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* table style */
.modern-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.modern-table th, .modern-table td {
  padding: 12px;
  text-align: left;
}

.modern-table th {
  background: linear-gradient(45deg, #1E3A5F, #3A8FCB, #5AA9E6, #1E536E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff; /* doesnt seem to work on older webkit/browsers, so here's my fall back */
}

.modern-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.modern-table tbody tr:hover {
  background-color: #e9e9e9;
}

.btn-download {
  display: inline-block;
  font-size: 0.875rem;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: #1E536E;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 2rem;
  min-height: 2rem;
  align-self: baseline;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-download:hover {
  background-color: #0056b3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Apply styles when #privacy-popup is targeted */
#privacy-popup:target {
  display: block;
}

/* Popup styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto; /* Enable scrolling if content exceeds max-height */
  background: #fff; /* Solid background for the popup */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1002; /* Higher z-index than the overlay and blur */
  display: none; /* Hidden by default */
  border: 4px solid transparent; /* Initially transparent border, wider */
}

/* Close button styles */
.popup .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #1e536e;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100; /* Ensure close button appears above popup content */
}

/* Move close button slightly outside of popup */
.popup.show .popup-close {
  top: 10px; /* Keep it aligned with the top of the popup */
  right: calc(50% - 310px); /* Adjust as needed based on your layout */
}

/* Overlay styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001; /* Above the popup */
  background: rgba(0, 0, 0, 0.5); /* Darker semi-transparent background */
  display: none; /* Hidden by default */
  border: 4px solid transparent; /* Initially transparent border, wider */
}

/* Border animation effect for overlay */
@keyframes border-pulse {
  0% {
    border-color: transparent;
    box-shadow: 0 0 30px rgba(30, 83, 110, 0.8); /* Adding a box-shadow for a glow effect */
  }
  50% {
    border-color: #1e536e; /* Highlight color */
    box-shadow: 0 0 50px rgba(30, 83, 110, 0.8); /* Wider glow effect */
  }
  100% {
    border-color: transparent;
    box-shadow: 0 0 30px rgba(30, 83, 110, 0.8); /* Back to initial shadow */
  }
}
/* Apply animation to overlay when shown */
#privacy-popup:target .popup-overlay {
  animation: border-pulse 1s infinite; /* Faster animation */
  border-color: #1e536e; /* Ensure initial border color matches animation */
}

/* Blur effect for background */
.popup-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px); /* Stronger blur effect */
  -webkit-backdrop-filter: blur(30px); /* For Safari */
  z-index: 1000; /* Below the popup */
  display: none; /* Hidden by default */
}

/* Show popup and overlay when #privacy-popup is targeted */
#privacy-popup:target .popup-overlay,
#privacy-popup:target .popup-blur {
  display: block;
}

/*page sass > css*/
.loaders-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.loader {
  --path: #CCD0CF;
  --dot: #1E536E;
  --duration: 3s;
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader:not(:last-child) {
  margin-right: 16px;
}
.loader .skull-svg {
  display: block;
  width: 100%;
  height: 100%;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
}
.loader .skull-path {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 0 1;
  stroke-dashoffset: 0;
  animation: pathSkull var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathSkull {
  0% {
    stroke-dasharray: 0 1;
  }
  100% {
    stroke-dasharray: 200 200;
  }
}
html {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
}

.left-pane {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  z-index: 1;
}

.right-pane {
  flex: 1;
  overflow-y: auto;
  padding: 4rem;
  margin-left: 33.3333333333vw;
  background-color: transparent;
}

.content {
  max-width: 600px;
  padding: 1.5rem;
  margin: 2rem auto;
  background-color: transparent;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
.content p {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  margin: 1rem 0;
}

.timeline {
  max-width: 600px;
  padding: 1.5rem;
  margin: 2rem auto;
  background-color: transparent;
  border-radius: 8px;
  text-align: center;
}
.timeline p {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  margin: 1rem 0;
}

.welcome-header,
.ctrt-heading,
.third-indent-heading {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.welcome-header {
  font-size: 1.5rem;
}

.ctrt-heading {
  margin-bottom: 0.75rem;
}

.font-highlight {
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
form input[type=email] {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #1E536E;
  color: white;
}
form button:hover {
  background-color: #0056b3;
}
form button .button-highlight {
  font-weight: bold;
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}
.carousel .carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel .carousel-wrapper .carousel-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.carousel .carousel-wrapper .carousel-items .carousel-item {
  min-width: 100px;
  flex: 1;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  position: relative;
  align-content: center;
  /* i left this here bc i might come back - use this to add hover grayscalle/color again */
}
.carousel .carousel-wrapper .carousel-items .carousel-item h3 {
  margin-top: 0;
}
.carousel .carousel-wrapper .carousel-items .carousel-item p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0.5rem 0;
}
.carousel .carousel-wrapper .carousel-items .carousel-item img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.carousel .carousel-wrapper .carousel-items .carousel-item:hover img {
  filter: grayscale(0%);
}
.carousel .carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #1E536E;
}
.carousel .carousel-control.prev {
  left: 10px;
}
.carousel .carousel-control.next {
  right: 10px;
}
.carousel .carousel-control:hover {
  color: #0056b3;
}

#styled-gif-id {
  border-radius: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-video {
  border-radius: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=styles.css.map */
