.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    overflow: hidden;
}

.left-pane {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-color: #222222;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    z-index: 1;
}

.right-pane {
    flex: 1;
    overflow-y: auto;
    padding: 4rem;
    /* calc left pane*/
    margin-left: calc(100vw / 3);
    background-color: transparent;
}

.content {
    max-width: 600px;
    padding: 1.5rem;
    margin: 2rem auto;
    background-color: transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.content p {
    font-family: 'Roboto', sans-serif; 
    font-size: 0.875rem;
    line-height: 1.6;
    margin: 1rem 0; 
    color: #ffffff;
}

.welcome-header,
.ctrt-heading,
.third-indent-heading {
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}


.welcome-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ctrt-heading {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.font-highlight {
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

input[type="email"] {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }

    .button-highlight {
        font-weight: bold;
    }
}

.footer-links {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    list-style: none;
    margin-top: auto;
    font-size: 0.65rem;
}

.footer-item {
    margin: 0 0.25rem;
}

.footer-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;

    &:hover {
        color: #007bff;
    }

    img {
        margin-right: 0.25rem;
    }
}

footer p {
    font-size: 0.6rem;
    margin-top: 0.25rem;
    color: #666;
    text-align: center;
}