/*$light-grey-start: #9BA8AB;*/
$light-grey-start: #CCD0CF;
$light-grey-end: #f1f1f1;

@mixin gradient-background($start-color, $end-color) {
    background: $start-color;
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: -o-linear-gradient(top, $start-color, $end-color);
    background: -moz-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
}

body {
    @include gradient-background($light-grey-start, $light-grey-end);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem; // mobile padding
    text-align: center; // center for mobile users
}
