@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Orbitron:wght@400;700&display=swap');

/* h1, h2, h3 */
.welcome-header {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    color: #222222;
}

.ctrt-heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 0;
    color: #2F3545;
}

.third-indent-heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 5px 0 15px 20px;
    color: #2F3545;
}