/* everything for the navbar is here, which is used on pretty much every page */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    color: #222222;
    z-index: 1000;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .nav-search {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.navbar input[type="text"] {
    padding: 0.5rem;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #222;
    width: 120px;
    box-sizing: border-box;
    /* i'm using this to manage the input transition, but i don't know if it'll play nice with js later */
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    height: auto;
    min-height: 2rem;
}

.navbar button[type="button"] {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 8px;
    background-color: #1E536E;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar input[type="text"]:hover,
.navbar input[type="text"]:focus {
    border-color: #1E536E;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    width: 240px; 
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    position: relative;
    margin-left: 1rem;
    font-weight: bold;
}

.navbar ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f5f5f5;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 160px;
}

.navbar ul li:hover > ul {
    display: block;
}